DATABASE_URL="mysql://admin:Aa10211395@dev-testdb.ctcm8i88mnas.ap-northeast-1.rds.amazonaws.com:3306/project-test"
JWT_SECRET="C@p!3t3@m"
GOOGLE_CLIENT=
GOOGLE_CLIENT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYPAL_CLIENT_ID="AfYXwzdA45JeQ0BQdmptnOLBi01qoZ-CzooPxnmh7WD56ufGdgNZzSzVHthz2C-zTgMMOc49gaLSaBA3"
PAYPAL_CLIENT_SECRET="EKv0srPXh0KZtFeN3Iu1HF0Gvrb-G1vWeM23ePAXuNBOZjCbu_9K4fO6tkUkDZbljGkhFC8Dt0S3zj-R"